In [10]:
import alpaca_trade_api as tradeapi
from alpaca_trade_api.rest import REST, TimeFrame

api = tradeapi.REST('PKY648V1YZCAUOVIKWTJ', 'qegq5GlGLpnQi8Sj5Af9gisknvVgePQygcrgTyqc')

outputdataframe = api.get_bars("AAPL", "5Min", "2021-11-08T00:00:00-00:00", "2021-11-17T00:00:00-00:00", adjustment='raw').df

#Convert DataFrame to CSV
outputdataframe.to_csv('apple_5min_data.csv')
display(outputdataframe)

,open,high,low,close,volume,trade_count,vwap
timestamp,,,,,,,
2021-11-08 09:00:00+00:00,151.08,151.35,151.08,151.30,15255,453,151.251438
2021-11-08 09:05:00+00:00,151.28,151.30,151.24,151.24,1507,97,151.271507
2021-11-08 09:10:00+00:00,151.20,151.30,151.19,151.26,3217,156,151.232263
2021-11-08 09:15:00+00:00,151.26,151.26,151.25,151.25,3907,139,151.251758
2021-11-08 09:20:00+00:00,151.24,151.26,151.24,151.25,1557,61,151.247129
...,...,...,...,...,...,...,...
2021-11-16 23:40:00+00:00,151.00,151.06,151.00,151.04,3624,33,151.013002
2021-11-16 23:45:00+00:00,151.00,151.12,151.00,151.11,4934,52,151.057882
2021-11-16 23:50:00+00:00,151.02,151.03,151.02,151.03,1521,13,151.027745
2021-11-16 23:55:00+00:00,151.05,151.05,151.00,151.05,1768,37,151.036114
2021-11-17 00:00:00+00:00,151.02,151.05,151.02,151.05,857,9,151.046149